[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
psycopg2 = "*"
django-ckeditor = "*"
django-filter = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
django-rest-framework-social-oauth2 = "*"
django-cors-headers = "*"
Django = "*"
Pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
